layout {
    cwd "/Users/michael"
    tab name="Dots" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane cwd="Projects/dotfiles"
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Mosaic" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane cwd="Projects/Mosaic"
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Shell" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
