layout {
    // define default tab layout
    default_tab_template {
        // tab bar on the top
        pane size=1 borderless=true {
          plugin location="zellij:tab-bar"
        }

        // child tabs and panes
        children

        // status bar on the bottom
        pane size=2 borderless=true {
          plugin location="zellij:status-bar"
        }
    }
    cwd "/Users/michael"
    tab name="Shell" focus=true hide_floating_panes=true {
      pane cwd="/Users/michael"
    }

    tab name="Projects" hide_floating_panes=true {
      pane cwd="/Users/michael/Projects/"
    }
    tab name="Files" hide_floating_panes=true {
      pane cwd="Users/michael" command="yazi"
    }
    tab name="Dots" hide_floating_panes=true {
        pane cwd="Projects/dots"
    }
    tab name="Mosaic" hide_floating_panes=true {
        pane cwd="Projects/Mosaic"
    }
}
